.card-deck {
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.card {
  padding-top: 10px;
  max-width: 18em;
  max-height: 15em;
  color: blue;
  font-size: 11px;
  background-color: #b8befa;
}
.navbar {
  background-color: rgb(187, 116, 253);
  color: #ffffff;
  position: top center;
  justify-content: center;
  font-family: 'Monoton', cursive;
}
.row {
  justify-content: center;
}
img {
  height: 220px;
  width: 320px;
  margin: 5px;
  border-style: inset;
  border-width: 2em;
  border-color: rgb(109, 50, 246);
}